{
  "defaultConfig":{
    "buildType":"develop",
    "api":"AdaptedScript",
    "libraryDir":"script/library/",
    "optimizationLevel":-1
  },
  "resources":[
    {
      "path":"resource/",
      "resourceType":"resource"
    }
  ],
  "buildDirs":[
    {
      "dir":"script/main/",
      "targetSource":"script/main.js"
    },
    {
      "dir":"script/runtime/",
      "targetSource":"script/runtime.js"
    }
  ],
  "compile":[
    {
      "path":"script/launcher.js",
      "sourceType":"launcher"
    },
    {
      "path":"script/main.js",
      "sourceType":"mod"
    },
    {
      "path":"script/provider.js",
      "sourceType":"mod",
      "api":"CoreEngine"
    },
    {
      "path":"script/runtime.js",
      "sourceType":"custom"
    },
    {
      "path":"script/instant.js",
      "sourceType":"mod",
      "api":"Instant"
    }
  ],
  "javaDirs":[
    {
      "path":"java/"
    }
  ],
  "nativeDirs":[]
}