{
  "defaultConfig":{
    "buildType":"develop",
    "api":"AdaptedScript",
    "libraryDir":"lib/"
  },
  "resources":[
    {
      "path":"res/",
      "resourceType":"resource"
    }
  ],
  "buildDirs":[
    {
      "dir":"dev/",
      "targetSource":"main.js"
    }
  ],
  "compile":[
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    },
    {
      "path":"main.js",
      "sourceType":"mod"
    }
  ],
  "javaDirs":[],
  "nativeDirs":[]
}
