{
	"defaultConfig": {
		"api": "AdaptedScript",
		"buildType": "develop",
		"libraryDir": "library/"
	},
	"buildDirs": [
		{
			"targetSource": "script/main.js",
			"dir": "script/main/"
		},
		{
			"targetSource": "script/runtime.js",
			"dir": "script/runtime/"
		},
		{
			"targetSource": "script/coreengine.js",
			"dir": "script/coreengine/"
		},
		{
			"targetSource": "script/adaptedscript.js",
			"dir": "script/adaptedscript/"
		}
	],
	"compile": [
		{
			"path": "script/adaptedscript.js",
			"sourceType": "custom"
		},
		{
			"path": "script/coreengine.js",
			"sourceType": "custom"
		},
		{
			"path": "script/launcher.js",
			"sourceType": "launcher"
		},
		{
			"path": "script/main.js",
			"sourceType": "mod"
		},
		{
			"path": "script/runtime.js",
			"sourceType": "custom"
		},
		{
			"path": "script/instant.js",
			"sourceType": "custom",
			"api": "Instant"
		}
	],
	"resources": [],
	"nativeDirs": [],
	"javaDirs": [
		{
			"path": "java/modding-tools"
		}
	]
}
